<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="default.css" />
  <link rel="stylesheet" href="metrolisboa.css" />
  <script>
    let available_metro_stations = '<%= available_station_metro %>';
    available_metro_stations = available_metro_stations.split(',');
    let metro_destinos = <%- JSON.stringify(destinos) %>;
  </script>
</head>

<body>
  <div class="header">
    <a href="/" class="logo">TransportesDeLisboa</a>
    <div class="header-right">
      <a href="#">Home</a>
      <a href="#">Contact</a>
      <a href="#">About</a>
    </div>
  </div>
  <div class="header_status">
    <a class="status-item">Linha amarela: <%= metrostatus.amarela %></a>
    <a class="status-item">Linha azul: <%= metrostatus.azul %></a>
    <a class="status-item">Linha verde: <%= metrostatus.verde %></a>
    <a class="status-item">Linha vermelha: <%= metrostatus.vermelha %></a>
  </div>
  <div class="metro-form">
    <div class="form-group">
      <label for="metrostation1">Metrostation:</label>
      <br>
      <div class="input-button">
        <input type="text" id="metrostation1" name="metrostation">
      </div>
    </div>
    <button id="send">Send</button>
  </div>

  <script async src="metrolisboa.js"></script>
</body>
</html>
